<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Dashboard</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" id="create-book-display">
                <!-- Trigger the modal with a button -->
                <a href="#" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-book" id="create-book"></span>
                <p>Create cookbook</p>
                </a>
            </div>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Create a Cookbook</h4>
                  </div>
                  <div class="modal-body">
                    <input type="text" placeholder=" title of your cookbook" id="cookbook-title-field">
                  </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button id="create-cookbook-button">Create Cookbook</button>
                        </div>
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Other cook books I have joined</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <a href="#">
                                    <span class="glyphicon glyphicon-book" id="friend-book"></span>
                                    <p>Sisters book</p>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a href="#">
                                    <span class="glyphicon glyphicon-book" id="friend-book"></span>
                                    <p>Dad's book</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>