<script src="../public/assets/js/editRecipePage.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../public/assets/css/style.css">


<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Upload Image</label>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                Browse... <input type="file" id="imgInp">
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <img id="img-upload" alt="test">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading text-center">Ingredients</div>

                    <!-- Table -->
                    <table class="table table-bordered">
                        <th>Ingredients</th>
                        <th>Serving size</th>
                        <tr>
                            <td>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control" placeholder="e.g. salt" aria-describedby="sizing-addon1">
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        Dropdown <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-header">Header 1</li>
                                        <li><a href="#">action 1</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">Author: </span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" value={{userName}} readonly>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">Meal: </span>
                    <input type="text" class="form-control" placeholder="name of your meal" aria-describedby="sizing-addon1">
                </div>
            </div>
        </div>
    </div>
</body>
