<h1>Cookbook</h1>

<button><a class="btn btn-default" href="/signup">Sign Up</a></button>
<button><a class="btn btn-default" href="/signin">Sign In</a></button>
<button><a class="btn btn-default" href="/recipes">All Recipe</a></button>
<button><a class="btn btn-default" href="/new">New Recipe</a></button>