<nav class="navbar navbar-inverse">
  <div class="container">
    <form action="/recipes/" method="GET" class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search by recipe name..." name='search'>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div class="navbar-form navbar-right">
      {{#if username}}<span id='nav-user'><strong>You are logged in as: {{username}} (User Id of {{id}})</strong></span><a class='btn btn-warning' href="/logout">Logout</a> {{/if}} {{#unless username}}<a class='btn btn-warning'
        href="/signup">Sign Up</a>
      <a class='btn btn-success' href="/signin">Sign In</a>{{/unless}}
    </div>
  </div>
</nav>

<div class="container">
  <h1>Cookbook</h1>
  <hr>
  <div class='btn-grp'>
    <a class='btn btn-info' href="/recipes/all">View All Recipes</a> {{#if username}}<a class='btn btn-primary' href="/new">New Recipe</a>{{/if}}<hr>
    {{#if username}}<a class='btn btn-danger' href="/edit">Edit Recipe (Carlos) </a>{{/if}}
    <a class='btn btn-info' href="/all">View All Recipe (Carlos) </a>
    <hr>
  </div>
</div>