<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Table of Contents</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <!--takes the user to the edit recipe page-->
                <button>Create new recipe</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <div class="container">
                        <h3><a href="">{{recipe}}</a></h3>
                        <h3><a href="">{{recipe}}</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>